body, html {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  /* CHNAGES */
  h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 5.4rem;
    line-height: 1;
    letter-spacing: 1px;
    margin: 2.5rem 0;
    box-sizing: border-box;
  }
  h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.2rem;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0.5rem 0;
    box-sizing: border-box;
  }
  p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8rem;
    color: #000000;
    box-sizing: border-box;
    line-height: 2;
  }
  p.smaller {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    line-height: 2;
    font-weight: 800;
  }
  
  .white {
    color: #ffffff;
  }
  .black {
    opacity: 1;
    color: black !important;
  }
  
  
      /* TOP SECTION */
  
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
  
  .top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
  
  
  .box1 {
    position: relative;
    background: #C7DDEA;
    grid-auto-rows: auto;
    display: flex;
    min-height: 85vh;
  }
  
  .boxtext1 {
    position: absolute;
    top: 10%;
    left: 15%;
    padding-right: 8%;
    margin-right: 2px;
    max-width: 418px;
    z-index: 2;
     
  }
  
  .fam-button {
    /* position: absolute;
    bottom: 36%;
    left: 19%;
    z-indext: 2; */
    margin: 5% 0;
  }
  
    /* IMAGE */
  
  figure {
    display: flex;
  }
  
  .famlogo {
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding-right: 1rem;
    max-height: 48%;
    z-index: 0;
    
  
  }
  
  /* BOX2 */
  
  .box2 {
    display: grid;
    grid-auto-rows: auto;
    min-height: 85vh;
    
  }
  
  .boxtext2 > p {
    margin-bottom: -6%;
    padding-left: 13%;
  
  }
  
  .box2 > .up {
    background: #F17949;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box2 > .down {
    background: #FAB131;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .boxtext2 {
    position: absolute;
    top: 30%;
    left: 33%;
  
  }
  
  .boxtext3 {
    position: absolute;
    top: 30%;
    left: 33%;
  } */
  
  .boxtext3 > p {
    margin-bottom: -6%;
    padding-left: 13%;
  
  }
    
  /*  NAV SECTION incl in TOP SECTION */
  
  
  .navbar {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly; 
    list-style-type: none;
    margin: 0;
    padding: 30px;
    background: #E5E5E5;
    
   
  }
  
  .navbar a {
    text-decoration: none;
     
  }
  
  
  .navbar a:hover {
    text-decoration: underline; 
    text-decoration-color: blue;
    background: transparent;
    cursor: pointer;
  
  }
  
  @media only screen and (max-width: 950px) { 
    nav { 
      display: none; 
    }
    .box1 {
      min-height: 90vh;
      grid-column-start: 1;
      grid-column-end: 3;
    
    }
    .box2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    /* .fambutt {
      position: absolute;
      bottom: 43%;
      left: 14%;
    } */
  } 
  
  
  
  
  @media only screen and (max-width: 450px) { 
    nav { 
      display: none; 
    }
    .box1 {
      min-height: 90vh;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
      /* .fambutt {
        position: absolute;
        left: 14%;
        top: 42%;
    
    } */
  
    .box2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* MIDDLE SECTION */

  /* CHANGES */
  
  button {
    width: 131px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    outline: none;
    border: none;
    margin-top: 4rem;
  }
  .middle-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    position: relative;
  }
  .subsection.a {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #A9A19E;
    width: 100%;
    min-height: 80vh;
  }
  .subsection .item {
    padding: 5%;
    max-width: 420px;
    width: 100%;
  }
  .subsection.b {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(169,161,158,1) 50%, rgba(250,177,49,1) 50%);
    min-height: 60vh;
    overflow: visible;
    z-index: 999;
    margin: -10px 0;
  }
  .subsection.b article {
    background: white;
    height: 60vh;
    max-height: 430px;
    max-width: 350px;
    width: 100%;
    margin: 40px 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  li a:active {
    opacity: 1;
  }
  li a {
    color: black;
    opacity: 0.4;
  }
  .subsection.b article p,
  .subsection.b article h2 {
    width: 70%;
    margin: 1.5rem auto;
  }
  .subsection.b article aside {
    margin: -40px auto 50px auto;
    width: 90%;
    height: 200px;
    position: relative;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center bottom;
  }
  .subsection.b article:nth-of-type(1) aside {
    background-image: url(./image/kid.png);
    background-color: #C7DDEA;
  }
  .subsection.b article:nth-of-type(2) aside {
    background-image: url(./image/woman.png);
    background-color: #FAB131;
  }
  .subsection.b article:nth-of-type(3) aside {
    background-image: url(./image/man.png);
    background-color: #F17949;
  }
  .subsection.c {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #FAB131;
    width: 100%;
    min-height: 80vh;
  }
  .subsection.c .item {
    margin: 0 auto;
    text-align-last: center;
    max-width: 600px;
    text-align: center;
  }
  

  
  @media screen and (max-width: 450px) {
    body, html {
      font-size: 8px;
    }
    .subsection.b article {
      margin: 60px 10px;
    }
    .subsection.c .item {
      padding: 40px;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /* BOTTOM SECTION */
  

  .bottom-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'item-4 item-5 item-6' 'item-1 item-2 item-3';
    grid-auto-rows: 400px;
  }
  
  .bottom-section-grid > article {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .bottom-section-grid p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  }
  
  .grid-item1 {
    background-color: #FFFFFF;
    grid-area: item-1;
  }
  
  .grid-item2 {
    background-color: #F17949;
    grid-area: item-2;
  }
  .grid-item3 {
    background-color: #FFFFFF;
    grid-area: item-3;
  }
  .grid-item4 {
    background-color: #C7DDEA;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-area: item-4;
  }
  
  .grid-item4 h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    padding: 10%;
  }
  
  .grid-item5 {
    background-color: #FFFFFF;
    grid-area: item-5;
  }
  .grid-item6 {
    background-color: #EBEBEB;
    grid-area: item-6;
  }
  
  .bottom-section-mini {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A9A19E;
    width: 100%;
    height: 68px;
  }
  
  .bottom-takeMeup {
    display: flex;
    align-items: center;
    text-align: center;
    height: 31px;
  }
  
  .bottom-takeMeup p {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
  }

  .bottom-takeMeup a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);;
  }

  .chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 1.75em;
    left: 8.15em;
    position: relative;
    top: -1.5em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 1.75em;
  }

  .number {
    position: absolute;
    top: 0;
    left: 25px;
    font-family: 'Frank Ruhl Libre', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: -0.02em;
  }
  
  @media only screen and (max-width: 450px) {
    .bottom-section-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 'item-4' 'item-5' 'item-6' 'item-1' 'item-2' 'item-3';
      grid-auto-rows: 170px;
    }
  }

  @media only screen and (max-width: 450px) {
    .bottom-section-mini {
      display: none;
    }
  }
  
  /* FOOTER SECTION */

  footer {
    background-color: #777574;
    width: 100%;
    height: 340px;
  }

  @media only screen and (max-width: 450px) {
    footer {
      height: 218px;
    }
  }
